@use '../../../app/styles/_variables.scss' as *;
@use "../../../app/styles/mixins" as *;

@keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .contact_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;

    @media screen and (max-width: 1350px) {
        right: 35px;
        bottom: 35px;
    }
  

    .button_center {
      font-size: 24px;
      color: white;
      font-weight: bold;
      position: absolute;
      z-index: 2;
    }
  
    .circle_text {
      position: absolute;
      width: 90%;
      height: 100%;
      transform-origin: center;
      animation: rotateText 10s linear infinite;
  
      text {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: Arial, sans-serif;
        font-size: 16.5px;
      }
    }
  
    &:hover {
      background-color: #0056b3;
      scale: 1.1;
    }
  }
  