@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.intro_left {
    flex: 1;
    
    h1 {
        margin-bottom: 1.5rem;
    }
    
    p {
        font-size: 1.2rem;
        color: $dark-gray;
        margin-bottom: 2rem;
    }
}

.left_bot_side_p {
    color: rgb(70, 70, 70);
}