@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.intro_left {
    flex: 1;
    
    h1 {
        margin-bottom: 1.5rem;
    }
    
    p {
        font-size: 1.2rem;
        color: $dark-gray;
        margin-bottom: 2rem;
    }
}

.left_bot_side_p {
    color: rgb(70, 70, 70);
}


.typing::after {
    content: "|";
    display: inline-block;
    margin-left: 2px;
    opacity: 1;
    animation: blink 0.7s infinite;
  }
  
  .typing-complete::after {
    content: "|";
    animation: blink 1.2s infinite;
  }
  
  .typing-hidden::after {
    content: "";
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  